<footer class="footer">
  <div class="container">
    <p>
      <h2 class="footer-heading">{{ site.title }}</h2>
        <div class="col-sm-4">
          <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.linkedin_username %}
            <li>
              <i class="fa fa-linkedin-square" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/nicolette-bocalan-730a985/">Nicolette Bocalan</a>
            </li>
            {% endif %}
          </ul>

        </div>

        <div class="col-sm-8">
          <p>{{ site.description }}</p>
        </div>

    </p>
  </div>
</footer>
